.body[b-lifrbamec3] {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto;
    text-align: center;
    margin: auto;
    max-width: 40%;
}

.submit-btn[b-lifrbamec3] {
    width: 50%;
    margin: auto;
}

.cancel-modal[b-lifrbamec3] {
    text-align: center;
    position: absolute;
    top: 33%;
    left: 38%;
    width: 25%;
    height: 30%;
} 
.cancel-buttons[b-lifrbamec3]{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: 70%;
}
.button[b-lifrbamec3]{
    width: 100%;
    height: 100%;
}