.body[b-a2tq7iwwkk] {
    display:grid;
    grid-template-rows: 10% 90%;
    grid-gap: 100px;

}
span[b-a2tq7iwwkk]{
    font-family: Helvetica;
    font-size: 40px;
    margin:auto;
    font-weight: bold;
}
.welcome[b-a2tq7iwwkk]{
    margin:auto;
}

.footer[b-a2tq7iwwkk]{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.modal-dialog[b-a2tq7iwwkk] {
    position: absolute;
    bottom: 30px;
    right: 50px;
    width: 50%;
}