.body[b-slsrfa0brm] {
    display:grid;
    grid-template-rows: 10% 90%;
    grid-gap: 100px;



}
span[b-slsrfa0brm]{
    font-family: Helvetica;
    font-size: 40px;
    margin:auto;
    font-weight: bold;
}
.welcome[b-slsrfa0brm]{
    margin:auto;
}

