.body{
 
    display:grid;
    grid-gap: 20px;
    grid-template-rows: auto;
    text-align: center;
    margin:auto;
    max-width:100%;
}

.submit-btn{
    width:100%;
    margin: auto;
}
.radio{
    display: flex;
    gap: 10px;
    width: 60%;
}