.body {
    max-width: 95%;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto;
    text-align: center;
    margin: auto;
}
textarea{
    margin: auto;
}
.submit-btn {
    width: 50%;
    margin: auto;
}
form{
    width: 100%;
}
.cancel-buttons{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: 70%;
}
.button{
    width: 100%;
    height: 100%;
}
.rating-area{
    width: auto;
    margin: auto;
}

    .rating-area:not(:checked) > label {
        float: right;
        width: 42px;
        padding: 0;
        cursor: pointer;
        font-size: 32px;
        line-height: 32px;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }

        .rating-area:not(:checked) > label:before {
            content: '★';
        }

    .rating-area > input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px #c60;
    }

    .rating-area:not(:checked) > label:hover,
    .rating-area:not(:checked) > label:hover ~ label {
        color: gold;
    }

    .rating-area > input:checked + label:hover,
    .rating-area > input:checked + label:hover ~ label,
    .rating-area > input:checked ~ label:hover,
    .rating-area > input:checked ~ label:hover ~ label,
    .rating-area > label:hover ~ input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px goldenrod;
    }

.rate-area > label:active {
    position: relative;
}